html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 1022px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu {
    .menu__link {
        display: inline-block;
        & + .menu__link {
            margin-left: 45px;
        }
        a {
            color: #5b5b5b;
            font-weight: 700;
            transition: all 0.3s;
            font-size: 15px;
            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
}

.header__inner {
    padding: 185px 0 165px 100px;
    max-width: 700px;
}

.header__inner-title {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    span {
        font-weight: 700;
    }
}

.header__inner-text {
    margin: 0;
    color: #455a64;
    font-size: 25px;
    margin-bottom: 60px;
}

.header__inner-btn {
    font-size: 18px;
    line-height: 18px;
    color: #000;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #27debf;
    border: 2px solid #27debf;
    border-radius: 25px;
    margin-right: 20px;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
    }
}

.about__inner {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 105px;
}

.about__images {
    margin-right: 60px;
    margin-left: 80px;
    position: relative;
    .about__img {
        display: block;
        object-fit: cover;
        box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0.16);
    }
    &::before {
        content: "";
        position: absolute;
        top: -80px;
        left: -80px;
        width: 160px;
        height: 160px;
        border: 35px solid #27debf;
        border-radius: 50%;
        background-color: transparent;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        right: -10px;
        width: 160px;
        height: 160px;
        color: #27debf;
        background-image: url("../images/after-img.png");
        background-repeat: repeat;
        z-index: -1;
    }
}

.about__content {
    margin-top: 50px;
    margin-bottom: 60px;
    .about__name {
        color: #27debf;
        font-size: 12px;
        position: relative;
        text-transform: uppercase;
        &::after {
            content: "";
            position: absolute;
            top: 7px;
            left: 5px;
            border-radius: 4px;
            background-color: rgb(15, 191, 97);
            opacity: 0.102;
            width: 31px;
            height: 9px;
        }
    }
}

.about__title {
    color: #151d41;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin: 20px 0 30px 0;
}

.about__text {
    color: #151d41;
    font-size: 18px;
    line-height: 25px;
}

.about__btn {
    margin-top: 32px;
    background-color: #27debf;
    border: 1px solid #27debf;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    padding: 20px 40px;
    color: #fff;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.about__diagram {
    display: flex;
    justify-content: space-around;
    margin-bottom: 180px;
}

.about__diagram-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 15px 23px 0px rgba(21, 29, 65, 0.06);
}

.about__circle {
    width: 130px;
    height: 130px;
    font-size: 36px;
    text-align: center;
    line-height: 36px;
    font-weight: 700;
    color: #151d41;
    border: 2px solid #0fbf61;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    position: relative;
    p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    span {
        font-weight: 600;
        font-size: 9px;
        line-height: 9px;
        margin-top: 10px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 136px;
        height: 136px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-right-color: #27debf;
        transform: rotate(45deg);
    }
}

.about__circle-one {
    &::before {
        border-top-color: #27debf;
    }
}

.about__circle-two {
    &::before {
        border-top-color: #27debf;
        border-left-color: #27debf;
        transform: rotate(135deg);
    }
}

.about__circle-three {
    &::before {
        transform: rotate(-45deg);
    }
}

.about__circle-four {
    &::before {
        border-top-color: #27debf;
    }
}

.services__info {
    text-align: center;
    .services__name {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: #27debf;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 5px;
            top: 10px;
            border-radius: 8px;
            background-color: rgb(15, 191, 97);
            opacity: 0.102;
            width: 110px;
            height: 17px;
        }
    }
    .services__title {
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        color: #151d41;
        margin: 30px 0 70px 0;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 30px;
            border-radius: 9px;
            background-color: rgb(15, 191, 97);
            opacity: 0.102;
            max-width: 450px;
            height: 18px;
        }
    }
}

.services__inner {
    margin-bottom: 120px;
    .services__box {
        text-align: center;
    }
    .services__btn {
        margin-top: 80px;
        border-radius: 5px;
        background-color: rgb(39, 222, 191);
        padding: 20px 35px;
        color: #fff;
        transition: all 0.3s;
        &:hover {
            background-color: #0fbf61;
        }
    }
}

.services__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .services__item {
        max-width: 445px;
        width: 100%;
        padding: 40px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 20px 23px 0px rgba(118, 130, 183, 0.18);
        color: #151d41;
    }
    .services__item-img {
        display: block;
        margin-bottom: 35px;
    }
    .services__item-title {
        font-size: 33px;
        line-height: 33px;
        padding-bottom: 20px;
        margin-bottom: 45px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 99px;
            height: 3px;
            background-color: #27debf;
        }
    }
    .services__item-btn {
        color: #fff;
        background-color: #27debf;
        padding: 10px 50px 10px 20px;
        margin-top: 70px;
        position: relative;
        transition: all 0.3s;
        &::after {
            content: "";
            position: absolute;
            right: 10px;
            top: 15px;
            background-image: url("../images/arrow.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 16px;
            height: 12px;
        }
        &:hover {
            background-color: #0fbf61;
        }
    }
    .services__item-color {
        background-color: #27debf;
        color: #fff;
        .services__item-title {
            &::after {
                background-color: #fff;
            }
        }
        .services__item-btn {
            background-color: #fff;
            color: #151d41;
            &::after {
                background-image: url("../images/arrow-color.png");
            }
            &:hover {
                background-color: #0fbf61;
            }
        }
    }
}

.services__item-procent {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 20px 23px 0px rgba(118, 130, 183, 0.18);
    max-width: 520px;
    width: 100%;
    padding: 50px 40px;
    color: #151d41;
    .services__item-number {
        font-size: 45px;
        line-height: 45px;
        font-weight: 700;
        margin-bottom: 35px;
    }
    .services__item-line {
        background-color: #0fbf61;
        width: 100%;
        height: 7px;
        margin-bottom: 30px;
        span {
            display: block;
            background-color: #27debf;
            height: 7px;
        }
    }
    .services__item-category {
        display: flex;
        flex-direction: column;
        font-size: 27px;
        line-height: 27px;
        font-weight: 600;
        span {
            color: #686868;
            font-size: 18px;
            line-height: 18px;
            font-weight: 400;
            margin-top: 20px;
        }
    }
}

.services__item-procent-after {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        right: -60px;
        bottom: -115px;
        width: 300px;
        height: 350px;
        background-image: url("../images/img-after-bg.png");
        background-repeat: repeat;
        z-index: -1;
    }
}

.portfolio {
    margin-bottom: 145px;
    .services__info {
        .services__title {
            &::after {
                max-width: 350px;
            }
        }
    }
}

.portfolio__inner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

.portfolio__item {
    max-width: 240px;
    height: 305px;
    position: relative;
    img {
        display: block;
        object-fit: cover;
    }
    .item-img__list {
        position: absolute;
        bottom: 0;
        background-color: rgb(39, 222, 191);
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        height: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #fff;
        font-size: 25px;
        overflow: hidden;
        transition: all 0.5s;
        a {
            margin-top: 20px;
        }
    }
}

.portfolio__item:hover .item-img__list {
    height: 305px;
}

.portfolio__box {
    text-align: center;
    .portfolio__btn {
        padding: 25px 65px;
        font-size: 25px;
        line-height: 25px;
        color: #fff;
        background-color: #27debf;
        border: 1px solid #27debf;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover {
            background-color: #fff;
            color: #151d41;
        }
    }
}

.testimonials {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    .services__info {
        .services__name {
            &::after {
                width: 80px;
            }
        }
        .services__title {
            &::after {
                max-width: 250px;
                height: 26px;
            }
        }
    }
}

.slider__item {
    text-align: center;
    .slider-img {
        display: inline-block;
        margin-bottom: 30px;
    }
    .slider__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: #151d41;
        margin-bottom: 30px;
    }
    .slider__name {
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        color: #151d41;
        margin-bottom: 15px;
    }
    .slider__category {
        font-size: 16px;
        line-height: 26px;
        color: #151d41;
    }
}

.slider-nav {
    text-align: center;
    margin-top: 65px;
    .slider-nav__img {
        img {
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    }
}
.slider-nav .slick-current {
    outline: none;
    border: none;
    .slider-nav__img {
        img {
            display: inline-block;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            z-index: 10;
        }
    }
}

.slider-nav .slick-active {
    width: 85px !important;
    outline: none;
    border: none;
    cursor: pointer;
}

.slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials__slider .slick-dots button {
    font-size: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000;
	border: none;
	padding: 0;
	font-size: 0;
	cursor: pointer;
	outline: none;
}

.testimonials__slider .slick-dots li{
	display: inline-block;
	margin: 0 6px;
}

.testimonials__slider .slick-dots {
    text-align: center;
}

.testimonials__slider .slick-dots .slick-active button{
	background-color: #27debf;
}

.blog {
    padding: 150px 0 200px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    .services__info {
        .services__name {
            &::after {
                width: 50px;
            }
        }
        .services__title {
            &::after {
                max-width: 350px;
                height: 25px;
            }
        }
    }
}

.blog__inner {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    max-width: 340px;
    display: flex;
    flex-direction: column;
}

.blog__item-img {
    img {
        display: block;
        max-width: 340px;
        width: 100%;
        max-height: 235px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
}

.blog__item-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 15px 23px 0px rgba(118, 130, 183, 0.18);
    border-radius: 0 0 5px 5px;
    color: #151d41;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.blog__item-date {
    font-size: 18px;
    font-weight: 600;
    color: #27debf;
    margin-bottom: 15px;
}

.blog__item-info {
    font-size: 14px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 75px;
        height: 4px;
        background-color: #27debf;
    }
}

.blog__item-text {
    font-weight: 600;
    margin-bottom: 25px;
    flex: 1 1 auto;
}

.blog__item-btn {
    a {
        color: #27debf;
        font-size: 18px;
        padding-right: 30px;
        position: relative;
        transition: all .3s;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 8px;
            background-image: url('../images/arrow-blog.png');
            background-repeat: no-repeat;
            width: 13px;
            height: 8px;
        }
        &:hover {
            color: #0fbf61;
        }
    }
}

.blog-btn {
    margin-top: 55px;
    text-align: center;
    a {
        padding: 20px 50px;
        font-size: 19px;
        line-height: 19px;
        color: #fff;
        background-color: #27debf;
        border: 1px solid #27debf;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover {
            background-color: #fff;
            color: #151d41;
        }
    }
}

.contact {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -100px;
        width: 350px;
        height: 350px;
        background-image: url('../images/img-after-bg.png');
        background-repeat: repeat;
        z-index: -1;
    }
}

.contact__inner {
    max-width: 900px;
    margin: 0 auto;
    textarea {
        width: 100%;
        height: 150px;
        resize: none;
        padding: 20px;
        border: 1px solid #151d41;
        background-color: #fff;
        border-radius: 5px;
        &::placeholder {
            font-size: 13px;
            color: #151d41;
        }
    }
}

.contact__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    input {
        height: 60px;
        max-width: 430px;
        width: 100%;
        border: 1px solid #151d41;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        &::placeholder {
            font-size: 13px;
            color: #151d41;
        }
    }
}

.contact__btn {
    text-align: center;
    margin-top: 55px;
    button {
        border: none;
        outline: none;
        background-color: #27debf;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        height: 57px;
        padding: 0px 40px 0px 40px;
    }
}

.footer {
    margin-top: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__text {
    max-width: 500px;
    font-size: 21px;
    font-weight: 600;
    color: #151d41;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__inner-text {
    max-width: 310px;
    color: #151d41;
}

.footer__inner-link {
    display: flex;
    .footer-link__title {
        font-size: 18px;
        font-weight: 600;
        color: #27debf;
        margin-bottom: 15px;
    }
    .footer-link__info {
        font-size: 20px;
        color: #151d41;
        transition: all .3s;
        &:hover {
            color: #27debf;
        }
    }
}

.footer-link__box {
    margin-left: 45px;
}

.footer__copy {
    border-top: 1px solid #27debf;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #151d41;
}

div.scrollup {
    position: fixed;
    color: #fff;
    right: 20px;
    bottom: 0px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
  }
  div.scrollup:hover {
    background-color: #27debf;
  }